{
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "project": "./client/tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "env": {
    "es6": true
  }
}