.chat__content {
  background-image: url(../../Chat.svg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 86vh;
  padding-bottom: 50px;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__content button {
  position: absolute;
  right: 300px;
  top: 10px;
  border-radius: 30px;
  background-color: #3762ea;
  color: white;
  font-weight: bold;
  border: none;
  width: 10%;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px #313131;
  cursor: pointer;
}

.chat__content button:hover {
  background-color: #2e52ca;
  transition: 0.1s ease;
}

.issue__box {
  width: 70vw;
  height: 80vh;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  padding: 0 20px;
}

.issue__title {
  font-size: 2rem;
  font-weight: bolder;
}

h1 {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid #dbdbdb;
}

.issue__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.issue__content {
  min-width: 90%;
  max-width: 97%;
  text-align: center;
  background-color: white;
  text-align: center;
  padding: 20px 100px;
  margin-top: 20px;
  border-top: 2px dotted #181b20;
  border-bottom: 2px dotted #181b20;
}

.issue__input {
  width: 100%;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #d2dcff;
  border: none;
  padding-top: 10px;
  padding-left: 20px;
}

.issue__button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #3762ea;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 30px;
  transition: 0.1s ease;
  box-shadow: 0px 0px 5px #dde5ff;
}

.issue__text {
  color: #353b46;
  font-size: 1rem;
  text-align: center;
}

.issue__button:hover {
  background-color: #2e52ca;
  cursor: pointer;
  transition: 0.1s ease;
}

.chat__messages {
  width: 90vw;
  height: auto;
  display: flex;
  margin-top: 50px;
  padding: auto;
  margin-bottom: 90px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.message__box {
  max-width: 55vw;
  position: relative;
  min-height: 5vh;
  background-color: white;
  margin: 15px auto;
  text-align: center;
  box-shadow: 0px 0px 20px rgb(232, 232, 232);
  padding: 0 20px;
  word-wrap: break-word;
}

.message__message {
  margin: 13px 0;
  color: #181b20;
}

.message--user {
  color: #f1f2f8;
}

.message--pro {
  color: #181b20;
}

.message__box--user {
  background-color: #3762ea;
  text-align: right;
  margin-right: 0;
  border-radius: 30px 30px 0 30px;
}

.message__box--pro {
  text-align: left;
  margin-left: 0;
  border-radius: 30px 30px 30px 0;
}

.message__form {
  display: flex;
  background-color: #181b20;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 15px 8vw;
}

.message__input {
  border-radius: 30px;
  font-family: Helvetica;
  padding-left: 10px;
  padding-top: 15px;
  display: flex;
  height: 30px;
  width: 70%;
  margin-right: 30px;
  border: none;
}

.message__button {
  border-radius: 30px;
  background-color: #3762ea;
  color: white;
  font-weight: bold;
  border: none;
  width: 10%;
  box-shadow: 0px 0px 5px #313131;
  cursor: pointer;
}

.message__button:hover {
  background-color: #2e52ca;
  transition: 0.1s ease;
}

aside {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 300px;
  left: 50px;
  background-color: #2e52ca;
}
