.login__header {
  background-color: #181b20;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 5%;

}

.header__title {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 3rem;
}

.login__content {
  background-color: #282c34;
  height: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  padding: auto;
  display: flex;
  flex-direction: row;

}

.content__box {
  width: 35vw;
  height: 80vh;
  background-color: white;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 0px 20px black;
  padding: 0 20px;
}

.content__user {
  font-size: 2.5rem;
  font-weight: bolder;
}

.content__info {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 50px;
}

.content__link {
  background-color: #282c34;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 5px #b7c4df;
}
